html, body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.no-scroll, .no-scroll body {
  overflow: hidden;
  height: 100%;
}

.invalid {
  border-color: red !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}